/* that shade of red: #aa1d1d */
/* --- thanh: organized and fixed --- */

/* --- GENERIC --- */
* {
    font-family: Segoe UI;
    font-size: 14px; 
}

html body {
    background-color:	#0D0D0D !important;
    color: white !important;
}

h1, h2, h3 {
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
}

h3 {
    font-size: 18px;
}
p {
    color: #797979;
}
.paginationButtons {
    text-align: center; 
}

.paginationButtons button {
    background-color: #1f2525;
    margin-top: 20px;
    font-size: 10px;
}
.btn:hover {
    color:  #ef2828 !important;
    background-color: white !important;
    transition: .5s;
}

.btn {
    font-size: 12px; 
    outline: none !important;
    box-shadow: none !important;
    background-color: #aa1d1d !important;
    color:  #eaeaea!important;
    border-radius: 0px; 
}

/* --- ARTICLE FOR EVENTS + FUNACTIVITIES --- */
.article {
    margin-top: 15px; 
}
.article p {
    color: #797979;
}
.article h3 {
    padding: 5px 5px 5px 0;
    color: #dbdbdb;
}

.article h3:hover {
    transition: .5s;
    cursor: pointer;
}

.articleImage {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}

.article .btn {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px;
    float: right;
}
/* --- LOGIN + SIGNUP --- */
.login {
    margin: auto; 
    margin-top: 5%; 
    width: 50%; 
    padding: 30px;
    padding-top: 0px;
    background-color: #2b0202;
}
.login * {
    overflow: hidden;
}
.login img { 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 100%;
}

.login input {
    margin-bottom: 12px;
}

.login label {
    margin-top: 3px;
}

.login input {
    font-size: 13px;
    width: 100%; 
}

.login .loginForm {
    margin: auto;
}

.login .btn {
    width: 100%;
}

/* --- HEADER --- */
.miniTopNav ul {
    text-align: right; 
    list-style: none;
    margin-top: 20px; 
    margin-bottom: 20px; 
    padding-right: 14px;
}

.miniTopNav li{
    display: inline-block;
    margin-left: -1%;
    margin-right: -1%;
}

.miniTopNav li a {
    font-size: 11px; 
    color: #dbdbdb;
}

.miniTopNav li a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #aa1d1d;
}

.miniTopNav li:nth-child(3){
    margin-left: 2%; 
    margin-right: -4.5%;
}
.logonav img {
    float: left;
    margin-top: -1.5%;
    margin-left: -2.8%;
    width: 20%;
}
.topNav ul {
    padding: 0;
    text-align: right;
    margin-bottom: 30px;
}

.topNav li {
    display: inline-block;
    margin-right: -4.5px; 
    padding: 18px 0 18px 0; 
    background-color: black;    
}

.topNav li:first-child a{
    margin-left: -2px;
}
.topNav li:last-child a {
    margin-right: -2px;
}

.topNav li a{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #dbdbdb;
	background-color: #0d0d0d;
    padding: 20px 52px;
}
.topNav li a:hover{
    text-decoration: none;
    background-color: #1f2525;
    border-bottom: 5px solid #aa1d1d;
    color: #aa1d1d;
    transition: .3s;
}

/* --- ACTIVITIES PAGE --- */
.activitybuttons button {
    text-transform: uppercase;
    font-size: 13x;
    font-weight: bold;
    height: 120px;
    width: 150px;
    margin: 0 20px; 
}

/* --- INDEX --- */
.indexNav button{
    float: right;
    margin: 0 0 0 10px;
    margin-top: 5%;
    height: 100px; 
    width: 170px; 
}
.sponsors img {
    margin-left: 10px;
}
.sponsors img:hover{
    cursor: pointer;
    filter: invert(5%);
}
.otherEvents {
    margin-top: 30px;
}
.otherEvents img{
    max-width: 100%;
    margin-bottom: 10px;
}

#indexbanner {
    margin-bottom: 20px;
}


/* --- to be organized --- */
.settingImage, .funactivitytop, .eventimage, .funactivity, .camping1, .camping2, .campmap, .logo {
    max-width: 100%;
    max-height: 100%;
}

.funactivitytop, .regcontainer {
    padding-bottom: 30px;
}

.setting, .events, .fun, .rules, .normalreg, .camping1, .funactivitytop, .settingImage {
    padding-top: 30px;
}



.eventbuttons, .funbuttons, .campingtxt, .campingimages, .activitiestxt, .activitiesbtns, .settingbody, .campingtxt {
    padding-top: 30px;
    padding-bottom: 30px;
}




/* thanh */
.eventbuttons, .funbuttons, .activitybuttons, .campingbtn {
    text-align: center; 
}


.regtitle {
    text-align: center;
}

#bundlelink {
    color: #aa1d1d;
}

.topnav .btn, .topnav .btn:hover, .topnav .btn:active, .topnav .btn:visited, .topnav .btn:focus, .topnav .btn:active:focus {
    background-color:  #0d0d0d !important;
    color: #dbdbdb !important;
    
}

.navbtn {
    padding-right: 50px;
}

#toplink {
    padding-left: 10px;
}