html body {
    background-color: black !important;
    color: white !important;
}

.settingImage, .funactivitytop, .eventimage, .funactivity, .camping1, .camping2, .campmap, .logo {
    width: 100%;
    height: 100%;
}

.funactivitytop, .regcontainer {
    padding-bottom: 30px;
}

.setting, .events, .fun, .rules, .normalreg, .camping1, .funactivitytop, .settingImage {
    padding-top: 30px;
}


.eventsbody, .funbody, .regbody {
    display: inline-block;
    text-align: left;
    margin: auto;
    padding-left: 30px;
}

.eventbuttons, .funbuttons, .campingtxt, .campingimages, .activitiestxt, .activitiesbtns, .settingbody, .campingtxt {
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn, .btn:hover, .btn:active, .btn:visited, .btn:focus, .btn:active:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color:  #c42626 !important;
    color: white !important;
}


/* thanh */
.eventbuttons, .funbuttons, .activitybuttons, .campingbtn {
    text-align: center; 
}

.login, .signup {
    padding: 30px;
    background-color: #2b0202;
}



.regtitle {
    text-align: center;
}

#bundlelink {
    color: #c42626;
}

.topnav .btn, .topnav .btn:hover, .topnav .btn:active, .topnav .btn:visited, .topnav .btn:focus, .topnav .btn:active:focus {
    background-color:  black !important;
    color: white !important;
    
}

.navbtn {
    padding-right: 50px;
}

#toplink {
    padding-left: 10px;
}

.outer{
    padding: 50px 350px 50px 350px;
}